@import 'variables.pcss';

.footer {
  text-align: center;
  padding: var(--distance-2300) 0 var(--distance-1300) 0;
}

.contactUs {
  font-size: var(--text-550);
  font-weight: bold;
  color: black;
  margin-bottom: var(--distance-500);
  display: block;
}

.info {
  line-height: var(--text-line-height);
}

.logo {
  svg {
    width: 180px;
    height: 62px;
  }
}
