version: '3.3'
services:
  mongo:
    command: mongod
    image: mongo:4.0.4
    networks:
      - auxilin
    ports:
      - "27017:27017" # map port to none standard port, to avoid conflicts with locally installed mongodb.
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  redis:
    command: redis
    image: redis:5.0.1
    command: ["redis-server", "--appendonly", "yes"]
    hostname: redis
    networks:
      - auxilin
    ports:
      - "6379:6379" # map port to none standard port, to avoid conflicts with locally installed redis.
  api:
    build:
      context: "./api"
      dockerfile: Dockerfile.dev
    volumes:
      - "./api/src:/app/src"
    ports:
      - "3001:3001"
    depends_on:
      - mongo
    networks:
      - auxilin
  web:
    build:
      context: "./web"
      dockerfile: Dockerfile.dev
    volumes:
      - "./web/src:/app/src"
    depends_on:
      - redis
      - api
    networks:
      - auxilin
    environment:
      NODE_ENV: development
      HRM_HOST: "0.0.0.0"
    ports:
      - "3002:3002"
      - "8081:8081"
  landing:
    build:
      context: "./landing"
      dockerfile: Dockerfile.dev
    depends_on:
      - api
    networks:
      - auxilin
    volumes:
      - "./landing/src:/app/src"
    ports:
      - "3000:3000"

networks:
  auxilin:
    name: auxilin_network
