@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import 'normalize.css';
@import 'variables.pcss';

html,
body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: var(--grey-800);
  font-size: var(--text-500);
  line-height: var(--text-700);
}
