@import 'variables.pcss';

.dashboard {
  height: 100%;
  width: 100%;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.dashboard-card {
  width: 24%;
}

.tables {
  display: flex;
  justify-content: space-between;
  margin-top: var(--distance-900);
}

.dashboard-table {
  width: 49%;
}
