@import './deep-purple.pcss';
@import './green.pcss';
@import './grey.pcss';
@import './light-blue.pcss';
@import './red.pcss';

:root {
  --white: #fff;
  --black: #000;
  --black-opacity: #040404a6;
  --main-text: #777;
}
