---
- name: Setup server
  hosts: app
  become: true
  vars_files:
    - ["vars/main.yml"]
  roles:
    - { role: angstwad.docker_ubuntu}
  tasks:
    - name: Create base directories
      file: path="{{item}}" state=directory
      with_items:
        - "{{app_home}}"
        - "{{mongo_data_dir}}"
        - "{{redis_data_dir}}"

    - name: create application networks
      docker_network:
        name: "{{ network_name }}"
    
    - name: pull redis docker image
      docker_image:
        state: present
        force: yes
        name: "redis:5.0.1"
        tag: "5.0.1"
      tags:
        - redis

    - name: run redis using docker
      docker_container:
        name: redis
        image: redis:5.0.1
        command: ["redis-server", "--appendonly", "yes"]
        state: started
        restart_policy: always
        volumes:
          - "{{redis_data_dir}}:/data"
        ports:
          - "6379:6379"
        networks:
          - name: "{{ network_name }}"
      tags:
        - redis

    - name: pull mongo docker image
      docker_image:
        state: present
        force: yes
        name: "mongo:4.0.4"
        tag: "4.0.4"
      tags:
        - mongo

    - name: run mongo using docker
      docker_container:
        name: mongo
        image: mongo:4.0.4
        command: mongod
        state: started
        restart_policy: always
        volumes:
          - "{{mongo_data_dir}}:/data/db"
        ports:
          - "127.0.0.1:27017:27017"
        networks:
          - name: "{{ network_name }}"
      tags:
        - mongo
