@import 'variables.pcss';

.search {
  display: flex;
  margin-right: var(--distance-500);
}

.search-button {
  border-radius: 50%;
  background: var(--white);
  color: var(--grey-600);
  padding: 0;
  height: 41px;
  width: 41px;
  display: flex;
  align-items: center;
  margin-left: var(--distance-300);

  svg {
    margin: auto;
  }
}
