@import 'variables.pcss';

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-200);
  padding-left: 250px;
}

.content {
  padding: 20px;
  flex: 1;
}
